logs
*.log
npm-debug.log*
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
jest.config.js
prettier.config.js
tsconfig.json
webpack.config.js

/coverage
/demo
/src
/temp
/test
/node_modules

.DS_Store
.idea
.vscode
.vs
